In [8]:
list=[110,105,115,120,110,130,150,100,105]

In [9]:
list

[110, 105, 115, 120, 110, 130, 150, 100, 105]

In [10]:
import pandas as pd

In [13]:
df=pd.DataFrame(list,columns=['price'])

In [14]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

# Techniques to perform Feature Transformation:

Normalization <br>
Standardization <br>
Log Transformation <br>
Robust Scaler <br>
Max Absolute Scaler

# Normalization

In [15]:
min_price=df.price.min()
max_price=df.price.max()

In [16]:
min_price

100

In [17]:
max_price

150

In [18]:
df['price_norm_manual']=(df.price-min_price)/(max_price-min_price)

In [19]:
df.head()

   price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2

In [24]:
from sklearn.preprocessing import MinMaxScaler
mmx=MinMaxScaler()

In [26]:
df['price_norm_sklearn']=mmx.fit_transform(df[['price']])

In [27]:
df.head()

   price  price_norm_manual  price_norm_sklearn
0    110                0.2                 0.2
1    105                0.1                 0.1
2    115                0.3                 0.3
3    120                0.4                 0.4
4    110                0.2                 0.2

# standardization

In [28]:
mean_price=df.price.mean()
std=df.price.std()

In [36]:
df['price_std_manual']= (df['price']-mean_price)/std

In [37]:
df.head()

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356

In [38]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [33]:
df['price_std_sklearn']=scaler.fit_transform(df[['price']])

In [34]:
df.head()

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356

In [39]:
std_dof=df.price.std(ddof=0)

In [40]:
std_dof

14.677605348469896

In [41]:
std_dof1=df.price.std(ddof=1)

In [42]:
std_dof1

15.567951410224504

In [43]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356
5,130,0.6,0.6,0.892146,0.946264
6,150,1.0,1.0,2.176837,2.308884
7,100,0.0,0.0,-1.034890,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011

In [45]:
df['price_std_manual2']= (df['price']-mean_price)/std_dof1

In [46]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.392544
1,105,0.1,0.1,-0.713717,-0.757011,-0.713717
2,115,0.3,0.3,-0.071372,-0.075701,-0.071372
3,120,0.4,0.4,0.249801,0.264954,0.249801
4,110,0.2,0.2,-0.392544,-0.416356,-0.392544
5,130,0.6,0.6,0.892146,0.946264,0.892146
6,150,1.0,1.0,2.176837,2.308884,2.176837
7,100,0.0,0.0,-1.034890,-1.097666,-1.034890
8,105,0.1,0.1,-0.713717,-0.757011,-0.713717

In [48]:
df['price_std_manual2']= (df['price']-mean_price)/std_dof

In [49]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701
3,120,0.4,0.4,0.249801,0.264954,0.264954
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356
5,130,0.6,0.6,0.892146,0.946264,0.946264
6,150,1.0,1.0,2.176837,2.308884,2.308884
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011

# Log Transfomation

In [60]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [61]:
fc=FunctionTransformer(np.log1p)

In [62]:
df['price_fc']=fc.fit_transform(df[['price']])

In [63]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439

In [64]:
df['fc_np']=np.log1p(df[['price']])

In [65]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439

# Robust Scaler

In [66]:
from sklearn.preprocessing import MaxAbsScaler

In [67]:
max=MaxAbsScaler()

In [69]:
df['mx_abs']=max.fit_transform(df[['price']])

In [70]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np,mx_abs
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590,0.766667
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791,0.800000
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197,0.866667
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280,1.000000
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121,0.666667
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000

# Power Transformer (box,cox)

In [71]:
from scipy.stats import boxcox
df['box cox'],_=boxcox(df['price']+1)

In [72]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np,mx_abs,box cox
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333,0.223686
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000,0.223686
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590,0.766667,0.223686
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791,0.800000,0.223686
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333,0.223686
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197,0.866667,0.223686
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280,1.000000,0.223686
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121,0.666667,0.223686
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000,0.223686